* {
    --offwhite: #ece7e1;
    --nude: #f1d5bf;
    --charcoal: #1a1818;
    box-sizing: border-box;

}

/* Mobile first styling! */





body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 20px;
    min-height: 100%;
    margin: 0;
}

.bg-nude {
    background-color: var(--offwhite);
    color: var(--charcoal);
}

div {
    display: block;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* mouse over link on nav item*/
.nav-left-link:hover:hover {
    text-decoration: line-through;
    
}


.nav-left {
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.nav-left-item {
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 15px;
    transform: rotate(-90deg);
}

.nav-left-link {
    color: var(--charcoal)
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 0 solid #000;
    transition: opacity .3s;

}

.nav-line {
    width: 1px;
    height: 100px;
    background-color: var(--charcoal);
    margin-top: 10px;
    margin-bottom: 80px;

. copyright {
    text-align: center;
    letter-spacing: 4px;
    align-content: flex-end;
    align-items: flex-end;
   
}

.nav-left.nav-copyright {
    width: 110px;
    position: absolute;
    top: auto;
    bottom: 3dvh;
    left: 0%;
    right: 0%;
    align-content: flex-end;
    align-items: flex-end;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--charcoal);
